@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Microsoft JhengHei', '微軟正黑體', 'Microsoft YaHei', sans-serif; }

body {
  background-color: #f6f2e7; }

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2B3A6F; }
  header div.Tittle {
    text-align: center; }
    header div.Tittle a.navbar-brand {
      color: #CDC389;
      padding: 10px;
      padding-bottom: 20px;
      font-size: 48px; }
  header nav {
    width: 100%;
    display: flex;
    justify-content: center; }
    header nav ul {
      width: 35%;
      display: flex;
      justify-content: space-around;
      font-weight: bold;
      font-size: 1.2rem; }
      header nav ul li {
        list-style: none; }
        header nav ul li a.nav-link {
          color: #CDC389;
          text-decoration: none; }

section.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 15px; }
  section.filter table {
    color: #CDC389;
    font-weight: bold;
    width: 70%; }
    section.filter table tbody {
      width: 100%; }
      section.filter table tbody tr {
        display: flex;
        width: 100%;
        font-size: 1rem; }
        section.filter table tbody tr td.StockN {
          border-bottom: 1px solid black;
          border-right: 1px solid black;
          width: 80%;
          padding: 10px; }
          section.filter table tbody tr td.StockN select {
            width: 100%; }
        section.filter table tbody tr td.first {
          display: flex;
          width: 20%;
          background-color: #2B3A6F;
          border-bottom: 1px solid white; }
          section.filter table tbody tr td.first label {
            padding: 10px; }
  section.filter div.btn {
    display: flex;
    width: 71%;
    justify-content: end;
    padding: 0.5rem; }
    section.filter div.btn button.Search {
      background-color: #2B3A6F;
      color: #CDC389;
      border: none;
      font-size: 0.7rem;
      padding: 5px 8px;
      border-radius: 3px; }

section.StonkData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }
  section.StonkData div.scroll {
    width: 69%;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center; }
  section.StonkData table {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  section.StonkData th {
    background-color: #2B3A6F;
    color: #CDC389; }
  section.StonkData table, section.StonkData tr, section.StonkData th, section.StonkData td {
    border-collapse: collapse;
    text-align: start;
    padding: 5px; }
  section.StonkData button {
    padding: 5px 10px;
    margin: 5px; }
