* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Microsoft JhengHei', '微軟正黑體', 'Microsoft YaHei', sans-serif;
}

body {
    background-color: #f6f2e7;
}
div.btn {
    display: flex;
    width: 80%;
    justify-content: flex-end;
    padding: 0.5rem;

    input.Search {
        background-color: #2B3A6F;
        color: #CDC389;
        border: none;
        font-size: 0.7rem;
        padding: 5px 8px;
        border-radius: 3px;
    }
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2B3A6F;

    div.Tittle {
        a.navbar-brand {
            color: #CDC389;
            padding: 10px;
            padding-bottom: 20px;
            font-size: 48px;
        }

        text-align: center;
    }

    nav {
        width: 100%;
        display: flex;
        justify-content: center;

        ul {
            width: 35%;
            display: flex;
            justify-content: space-around;
            font-weight: bold;
            font-size: 1.2rem;

            li {
                list-style: none;

                a.nav-link {
                    color: #CDC389;
                    text-decoration: none;
                }
            }
        }
    }
}

section.filter {
    width: 100%;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        table {
            color: #CDC389;
            font-weight: bold;
            width: 80%;

            tbody {
                width: 100%;

                tr {
                    display: flex;
                    width: 100%;
                    font-size: 1rem;

                    td.StockN {
                        border-bottom: 1px solid rgb(0, 0, 0);
                        border-right: 1px solid rgb(0, 0, 0);
                        ;
                        width: 80%;
                        padding: 10px;

                        select {
                            width: 100%;
                        }
                    }

                    td.first {
                        display: flex;
                        width: 20%;
                        background-color: #2B3A6F;
                        border-bottom: 1px solid white;

                        label {
                            padding: 10px;
                        }
                    }
                }
            }
        }

      
    }
}

section.StonkData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    div.scroll {
        width: 78%;
        overflow-y: scroll;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    table {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    th {
        background-color: #2B3A6F;
        color: #CDC389;
    }

    table, tr, th, td {
        border-collapse: collapse;
        text-align: start;
        padding: 5px;
    }

    button {
        padding: 5px 10px;
        margin: 5px;
    }
         button.edit{
     background-color: #FFC107;
     border: none;
     border-radius: 5px;
     color: black;
         }
         button.del{
             background-color: #DC3545;
             border: none;
             border-radius: 5px;
             color: white;
                }
}
